{% extends 'blog/base.html' %}

{% block title %}Signup{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<h1 style="color:white">.</h1>
    <div class="panel panel-default signup" >
        <div class="mt-3 ml-3 mr-3 mb-3">
            <h3 style="text-align: center; font-family: sans-serif">RTTech Codes Arts and More.</h3>
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>
    </div>
<h1 style="color:white">.</h1>
{% endblock %}