html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}
#videoBG {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background-size: cover;
    }
}
.page-header {
    background-color: rgba(11, 83, 69, .7);
    margin-top: 0;
    padding: 5px 40px 20px 40px;
}

.page-header:hover {
     background-color: rgba(11, 83, 69, 0);
}

.page-header h1, .page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family:  'Bree Serif',  'Tangerine', 'Inconsolata', 'Droid Sans', serif;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 0px;
}

.post h1 a {
    color: #000000;
}

.post-form-blog textarea {
    width:100%;
}

.post-form-blog .btn-primary {
    float: right;
}

.post-form-blog .btn-warning {
    float: right;
    margin-right: 8px
}

.post-form-blog input{
   margin-left: 10px;
}

.top-menu, .top-menu:hover {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
    margin-top:12px;
}

.loginF p:nth-child(2) input{
    margin-left: 10px;
}
.loginF p:nth-child(3) input{
    margin-left: 15px;
}

.comment {
    margin: 20px 0px 20px 20px;
}
.highlight code, .highlight pre {
    color: #fdce93;
    background-color: #000000;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 16px;
}

.container {
   margin:auto;
   width:80%
}

.login {
  border: 1px solid grey;
  margin: 10px ;
  margin:auto;
  width:40%;
  padding: 25px;
  border-radius:20px;
}

.signup {
    width: 400px;
    margin: 0 auto;
    border:1px solid black;
    border-radius: 20px;
}

#mannaverse-reference, .thought_author {
    color:rgb(10, 95, 10);
    margin-top:15px;
}

.rttech {
    margin-bottom:0;
    padding-top:0;
}

.about{
    width:70%;
    margin:auto;
    font-size: x-large;
    font-weight: bold;
}

.footer{
    background-color: rgba(11, 83, 69, 0.7);   
}
.footer:hover{
   background-color: rgba(11, 83, 69, 0); 
}

.thoughts:hover{
    background-color: rgba(216, 241, 236, 0.5);
}

.bibleverse:hover{
    background-color: rgba(216, 241, 236, 0.5);
}

body ul, body ol {
  line-height: 0;
}

.card_row{
    margin:auto;
    width:80%;
}

.button_Shadow{
    box-shadow: 10px 10px 50px rgba(248, 251, 250, 0.9);
    border:2px solid silver;
    border-radius:0px;
   }

.button_Shadow:hover{
    box-shadow: 10px 10px 50px rgba(43, 84, 197, 0.9);
}

.projects{
    align-items: center;
    padding: 30px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

a.col-lg-4.img-fluid{
   text-decoration: none;
   color:black;
}

.modal-header{
    background:rgb(226, 228, 227);
}

.projectcards{
    background:rgba(249, 250, 249,.8);
}